# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Others
[Tt]emp/
[Tt]mp/
*.log
*.vspscc
*.vssscc# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Others
[Tt]emp/
[Tt]mp/
*.log
*.vspscc
*.vssscc